﻿@model IEnumerable<AdministracionDeLaboratorios.AccesoADatos.CARRERA>
@{
    ViewBag.Title = "ListadoCarrera";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Proyecto</title>
    <meta charset="UTF-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/estilo.css" rel="stylesheet" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--definimos la ruta principal de la aplicacion-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="~/Content/estilo.css" rel="stylesheet" />
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin: 0px;padding-top: 0px;">
    <header class="menu-fixed" style="border-left-style: solid;border-left-width: 0px;padding-top: 1px;padding-bottom: 0px;border-bottom-width: 20px;padding-right: 0px;padding-left: 10px;">
        <div class="contenedor">

            <h3><span class="resaltado">ADMINISTRACION DE LABORATORIOS</span></h3>
            <a class="btn btn-secondary" href="@Url.Action("Informacion", "Cliente")">
                Inicio
                <span class="glyphicon glyphicon-home "></span>
            </a>
            <a class="btn btn-secondary" href="@Url.Action("LogInAlumno", "LogIn")">
                Cerrar Sesión
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a class="btn btn-secondary" href="@Url.Action("ListadoDocente", "Cliente")">
                Docente
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a class="btn btn-secondary" href="@Url.Action("ListadoCarrera", "Cliente")">
                Carrera
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a class="btn btn-secondary" href="@Url.Action("ListadoLaboratorio", "Cliente")">
                Laboratorios
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
    </header>

    <section id="cajas2">
        <div class="contenedor">


            <div class="d-flex justify-content-center">
                <div class="card" style="width: 100rem;">
                    <table class="table table-striped table-condensed">
                        <h2 class="d-flex justify-content-center">Listado Carrera</h2>
                        <thead>
                            <tr>
                                <td>
                                    Id
                                </td>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Docente
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdCarrera)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DOCENTE.Nombre)
                                    </td>

                                    <td>
                                        <a class="btn btn-success" data-id="@item.IdCarrera" href="@Url.Action("VerDetalleCarrera", "Cliente", new { pId = item.IdCarrera})">Ver detalle</a>
                                   
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</body>
</html>

