﻿@model AdministracionDeLaboratorios.AccesoADatos.DOCENTE
@{
    ViewBag.Title = "VerDetalleDocente";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
  
    @*<meta charset="UTF-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/estilo.css" rel="stylesheet" />*@

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--definimos la ruta principal de la aplicacion-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="~/Content/estilo.css" rel="stylesheet" />
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin: 0px;padding-top: 0px;">
    <header class="menu-fixed" style="border-left-style: solid;border-left-width: 0px;padding-top: 1px;padding-bottom: 0px;border-bottom-width: 20px;padding-right: 0px;padding-left: 10px;">
        <div class="contenedor">

            <h3><span class="resaltado">ADMINISTRACION DE LABORATORIOS</span></h3>
            <a class="btn btn-secondary" href="@Url.Action("Informacion", "Cliente")">
                Inicio
                <span class="glyphicon glyphicon-home "></span>
            </a>
            <a class="btn btn-secondary" href="@Url.Action("LogInAlumno", "LogIn")">
                Cerrar Sesión
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a class="btn btn-secondary" href="@Url.Action("ListadoDocente", "Cliente")">
                Docente
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a class="btn btn-secondary" href="@Url.Action("ListadoCarrera", "Cliente")">
                Carrera
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <a class="btn btn-secondary" href="@Url.Action("ListadoDocente", "Cliente")">
                Laboratorios
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>

    </header>
    <h2 class="d-flex justify-content-center">Detalle de Docente</h2>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 20rem;">
            <img src="~/Fotos/@Model.Foto" style="width:205px; height:200px;" class="img-thumbnail img-responsive" alt="Imagen" />
            <div class="card-body">
                <h5 class="card-title">Docente:   <small>@Model.Nombre @Model.Apellido</small></h5>
                <a class="btn btn-success" href="@Url.Action("ListadoDocente", "Cliente")">Inico</a>
             
            </div>
        </div>
    </div>

</body>
</html>


