﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--definimos la ruta principal de la aplicacion-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="~/Content/estilo.css" rel="stylesheet" />
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="margin: 0px;padding-top: 0px;">
    <header class="menu-fixed" style="border-left-style: solid;border-left-width: 0px;padding-top: 1px;padding-bottom: 0px;border-bottom-width: 20px;padding-right: 0px;padding-left: 10px;">
        <div class="contenedor">

            <h3><span class="resaltado">ADMINISTRACION DE LABORATORIOS</span></h3>
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
                Menú
                <span class="glyphicon glyphicon-list"></span>
            </a>
             <a class="btn btn-secondary"  href="@Url.Action("Logout", "LogIn")" >
                 Cerrar Sesión
                 <span class="glyphicon glyphicon-log-out"></span>
              </a>
                
            
            <a class="btn btn-secondary" href="@Url.Action("Index", "Home")">
                Inicio
                <span class="glyphicon glyphicon-home "></span>
            </a>
        </div>

        <nav>

        </nav>


    </header>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background:#162951">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Menú</a>

                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">Inicio</a>
                </li>
                @*<li>
                    <a href="@Url.Action("ListadoAlumnos", "Administrador")">Alumno</a>
                </li>
                <li>
                    <a href="@Url.Action("ListadoDocente", "Administrador")">Docente</a>
                </li>
                <li>
                    <a href="@Url.Action("ListadoCarrera", "Administrador")">Carrera</a>
                </li>
                <li>
                    <a href="/lista-ins">Laboratorio</a>
                </li>
                <li>
                    <a href="@Url.Action("ListadoDias", "Administrador")">Dias</a>
                </li>
                <li>
                    <a href="/lista-al">Horarios</a>
                </li>
                <li>
                    <a href="/lista-al">Usuario</a>
                </li>
                <li>
                    <a href="/estadisticas">Estadisticas</a>
                </li>*@
                <li>
                    <a href="#mantenimiento" data-toggle="collapse" aria-expanded="false">Mantenimiento</a>
                    <ul class="collapse list-unstyled" id="mantenimiento">
                        <li><a href="@Url.Action("ListadoAlumnos", "Administrador")">- Alumno</a></li>
                        <li><a href="@Url.Action("ListadoDocente", "Administrador")">- Docente</a></li>
                        <li><a href="@Url.Action("ListadoCarrera", "Administrador")">- Carrera</a></li>
                        <li><a href="@Url.Action("ListadoDias", "Administrador")">- Dias</a></li>
                        <li><a href="@Url.Action("ListadoLaboratorio", "Administrador")">- Laboratorio</a></li>
                        <li><a href="@Url.Action("ListadoUsuario", "Administrador")">- Usuario</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div style="margin:10px">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
