﻿@model AdministracionDeLaboratorios.AccesoADatos.LABORATORIO
@{
    ViewBag.Title = "AgregarLaboratorio";
    var listaCarrera = ViewBag.Carrera;
    var listaAlumno = ViewBag.Alumno;
}

<h2>AgregarLaboratorio</h2>

<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("AgregarLaboratorio", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="contenedor">

        <div id="izq">
            <div class="form-group">
                <h3>Datos del Laboratorio</h3>
            </div>
            <div class="form-group">
                <img src="~/Image/user.png" style="width:200%;" class="img-thumbnail img-responsive" id="imagePreview" />
                <input type="file" name="Archivo" accept="image/jpeg, image/png" class="form-control" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))">
            </div>


        </div>
        <div id="der">
            <div class="form-group">
                <label>Nombres</label>
                <input type="text" name="Nombre" class="form-control" required />
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Numero</label>
                <input type="text" name="Numero" class="form-control" required />
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Ubicacion</label>
                <input type="text" name="Ubicacion" class="form-control" required />
                @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Carrera</label>
                <select name="pCarrera" class="form-control">

                    @foreach (var p in listaCarrera)
                    {
                        <option value="@p.IdCarrera">@p.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Alumno</label>
                <select name="pAlumno" class="form-control">

                    @foreach (var p in listaAlumno)
                    {
                        <option value="@p.IdAlumno">@p.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group col-sm-offset-0">
                <input type="submit" value="Agregar Laboratorio" style="margin-top: 5px;" class="btn btn-block btn-success" />
            </div>
        </div>
    </div>
}
<script>
    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }
    function toUpper(control) {

        if (/[a-z]/.test(control.value)) {
            control.value = control.value.toUpperCase();
        }
    }
</script>
