﻿@model AdministracionDeLaboratorios.AccesoADatos.USUARIO
@{
    ViewBag.Title = "AgregarUsuario";
}



<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("AgregarUsuario", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="contenedor">

        @*<div id="izq">
            
        </div>*@
        <div id="der">
            <div class="form-group">
                <h2>Agregar  Usuario</h2>
            </div>
            <div class="form-group">
                <label>Usuario</label>
                <input type="text" name="Nombre" class="form-control" required />
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="text" name="Password" class="form-control" required />
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-offset-0">
                <input type="submit" value="Agregar Dia" style="margin-top: 5px;" class="btn btn-block btn-success" />
            </div>
        </div>
    </div>

}

