﻿@model AdministracionDeLaboratorios.AccesoADatos.CARRERA

@{

    ViewBag.Title = "Agregar Carrera";

    var listarDocente = ViewBag.Docente;

}

<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("AgregarCarrera", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="contenedor">

        <div id="der">
            <div class="form-group">
                <label>Carrera</label>
                <input type="text" name="Nombre" class="form-control" required />
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Docente</label>
                <select name="pDocente" class="form-control">

                    @foreach (var p in listarDocente)
                    {
                        <option value="@p.IdDocente">@p.Nombre @p.Apellido</option>
                    }
                </select>
            </div>

            <div class="form-group col-sm-offset-0">
                <input type="submit" value="Agregar" style="margin-top: 5px;" class="btn btn-block btn-success" />
            </div>
        </div>
    </div>

}