﻿@model AdministracionDeLaboratorios.AccesoADatos.ALUMNO

@{

                ViewBag.Title = "Agregar Alumno";

                var listaCarrera = ViewBag.Carrera;
                var listaHorario = ViewBag.Horario;

}

<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("AgregarAlumno", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div id="contenedor">
    
    <div id="izq">
        <div class="form-group">
            <h3>Datos del Alumno</h3>
        </div>
        <div class="form-group">
            <img src="~/Image/user.png" style="width:200%;" class="img-thumbnail img-responsive" id="imagePreview" />
            <input type="file" name="Archivo" accept="image/jpeg, image/png" class="form-control" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))">
        </div>
        

    </div>
    <div id="der">
        <div class="form-group">
            <label>Nombres</label>
            <input type="text" name="Nombre" class="form-control" required />
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" name="Apellido" class="form-control" required />
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Carnet Nº</label>
            <input type="text" name="NumCarnet" class="form-control" required />
            @Html.ValidationMessageFor(model => model.NumCarnet, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Edad</label>
            <input type="text" name="Edad" class="form-control" required />
            @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <input type="date" name="FechaIngreso" class="form-control" required />
            @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Direccion</label>
            <input type="text" name="Direccion" class="form-control" required />
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Carrera</label>
            <select name="pCarrera" class="form-control">

                @foreach (var p in listaCarrera)
                {
                    <option value="@p.IdCarrera">@p.Nombre</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Horario</label>
            <select name="pHorario" class="form-control">

                @foreach (var p in listaHorario)
                {
                    <option value="@p.IdHorario">@p.Turno</option>
                }
            </select>
        </div>

        <div class="form-group col-sm-offset-0">
            <input type="submit" value="Agregar Alumno" style="margin-top: 5px;" class="btn btn-block btn-success" />
        </div>
    </div>
</div>
 }
<script>
function ShowImagePreview(imageUploader, previewImage) {
if (imageUploader.files && imageUploader.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
$(previewImage).attr('src', e.target.result);
}
reader.readAsDataURL(imageUploader.files[0]);
}
}
function toUpper(control) {

if (/[a-z]/.test(control.value)) {
control.value = control.value.toUpperCase();
}
}
</script>
