﻿@model AdministracionDeLaboratorios.AccesoADatos.DIA

@{

    ViewBag.Title = "Agregar Dia";

    //var listaDia = ViewBag.Dia;

}

<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("AgregarDia", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="contenedor">

        <div id="izq">
            <div class="form-group">
                <h3>Dia</h3>
            </div>
        </div>
        <div id="der">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="Nombre" class="form-control" required />
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>

            @*<div class="form-group">
                <label>Dias</label>
                <select name="pCarrera" class="form-control">

                    @foreach (var p in listaDia)
                    {
                        <option value="@p.IdDia">@p.Nombre</option>
                    }
                </select>
            </div>*@

            <div class="form-group col-sm-offset-0">
                <input type="submit" value="Agregar Dia" style="margin-top: 5px;" class="btn btn-block btn-success" />
            </div>
        </div>
    </div>

}
