﻿@model AdministracionDeLaboratorios.AccesoADatos.ALUMNO

@{

    ViewBag.Title = "Eliminar Alumno";

    var listaCarrera = ViewBag.Carrera;
    var listaHorario = ViewBag.Horario;

}

<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("EliminarAlumno", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdAlumno)
    <div id="contenedor">
        <div class="d-flex justify-content-center">
            <h2>Datos del Alumno</h2>
        </div>
        <div id="izq">
            <div class="form-group">
                <img src="~/Fotos/@Model.Foto" style="width:205%;" class="img-thumbnail img-responsive" id="imagePreview" />
                <input type="file" name="Archivo" accept="image/jpeg, image/png" class="form-control" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))">
            </div>

        </div>
        <div id="der">

            <div>
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" name="Nombre" class="form-control" required value="@Model.Nombre" />
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" name="Apellido" class="form-control" required value="@Model.Apellido" />
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Carnet Nº</label>
                    <input type="text" name="NumCarnet" class="form-control" required value="@Model.NumCarnet" />
                    @Html.ValidationMessageFor(model => model.NumCarnet, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Edad</label>
                    <input type="text" name="Edad" class="form-control" required value="@Model.Edad" />
                    @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Fecha de Ingreso</label>
                    <input type="datetime" name="FechaIngreso" class="form-control" required value="@Model.FechaIngreso" />
                    @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Horario</label>
                    <select name="pHorario" class="form-control">
                        @foreach (var m in listaHorario)
                        {
                            if (m.IdHorario == Model.HORARIO.IdHorario)
                            {
                                <option value="@m.IdHorario" selected="selected">@m.Turno</option>
                            }
                            else
                            {
                                <option value="@m.IdHorario">@m.Turno</option>
                            }


                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Direccion</label>
                    <input type="text" name="Direccion" class="form-control" required value="@Model.Direccion" />
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Carrera</label>
                    <select name="pCarrera" class="form-control">
                        @foreach (var m in listaCarrera)
                        {
                            if (m.IdCarrera == Model.CARRERA.IdCarrera)
                            {
                                <option value="@m.IdCarrera" selected="selected">@m.Nombre</option>
                            }
                            else
                            {
                                <option value="@m.IdCarrera">@m.Nombre</option>
                            }


                        }
                    </select>
                </div>
                <div class="form-group col-sm-offset-0">
                    <input type="submit" value="Eliminar" style="margin-top: 5px;" class="btn btn-block btn-success" />
                </div>
            </div>

        </div>
    </div>

}
<script>
    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }
    function toUpper(control) {

        if (/[a-z]/.test(control.value)) {
            control.value = control.value.toUpperCase();
        }
    }

</script>
