﻿@model IEnumerable<AdministracionDeLaboratorios.AccesoADatos.LABORATORIO>
@{
    ViewBag.Title = "ListadoLaboratorio";
}

<h2>ListadoLaboratorio</h2>
<a class="btn btn-success" href="@Url.Action("AgregarLaboratorio", "Administrador")">Agregar Laboratorio</a>

<section id="cajas2">
    <div class="contenedor">

        <table class="table table-striped table-condensed">

            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Numero
                    </th>

                    <th>
                        Ubicacion
                    </th>
                    <th>
                        Carrera
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ubicacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CARRERA.Nombre)
                    </td>
                    <td>
                        <a class="btn btn-success" data-id="@item.IdLaboratorio" href="@Url.Action("VerDetalleLaboratorio", "Administrador", new { pId = item.IdLaboratorio})">Ver detalle</a>
                        <a class="btn btn-success" data-id="@item.IdLaboratorio" href="@Url.Action("EliminarLaboratorio", "Administrador", new { pId = item.IdLaboratorio})">Eliminar</a>
                        <a class="btn btn-success" data-id="@item.IdLaboratorio" href="@Url.Action("ModificarLaboratorio", "Administrador", new { pId = item.IdLaboratorio})">Modificar</a>

                    </td>

                    <td></td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</section>

