﻿@model IEnumerable<AdministracionDeLaboratorios.AccesoADatos.DIA>
@{
    ViewBag.Title = "Listado de Dias";
}

<h2>Listado de Dias</h2>
<a class="btn btn-success" href="@Url.Action("AgregarDia", "Administrador")">Agregar Dia</a>

<section id="cajas2">
    <div class="contenedor">

        <table class="table table-striped table-condensed">

            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <th>
                        Nombre
                    </th>
                    
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            <a class="btn btn-success" data-id="@item.IdDia" href="@Url.Action("VerDetalleDia", "Administrador", new { pId = item.IdDia })">Ver detalle</a>
                            <a class="btn btn-success" data-id="@item.IdDia" href="@Url.Action("ModificarDia", "Administrador", new { pId = item.IdDia })">Editar</a>
                            <a class="btn btn-success" data-id="@item.IdDia" href="@Url.Action("EliminarDia", "Administrador", new { pId = item.IdDia })">Eliminar</a>
                        </td>

                        <td></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>