﻿@model IEnumerable<AdministracionDeLaboratorios.AccesoADatos.DOCENTE>
@{
    ViewBag.Title = "Listado de Alumnos";
}

<h2>Listado Docente</h2>
<a class="btn btn-success" href="@Url.Action("AgregarDocente", "Administrador")">Agregar Docente</a>

<section id="cajas2">
    <div class="contenedor">

        <table class="table table-striped table-condensed">

            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDocente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            <a class="btn btn-success" data-id="@item.IdDocente" href="@Url.Action("VerDetalleDocente", "Administrador", new { pId = item.IdDocente })">Detalle</a>
                            <a class="btn btn-success" data-id="@item.IdDocente" href="@Url.Action("ModificarDocente", "Administrador", new { pId = item.IdDocente })">Editar</a>
                            <a class="btn btn-success" data-id="@item.IdDocente" href="@Url.Action("EliminarDocente", "Administrador", new { pId = item.IdDocente })">Eliminar</a>
                        </td>

                        <td></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>