﻿@model IEnumerable<AdministracionDeLaboratorios.AccesoADatos.CARRERA>
@{
    ViewBag.Title = "ListadoCarrera";
}

<h2>Listado de Carrera</h2>
<a class="btn btn-success" href="@Url.Action("AgregarCarrera", "Administrador")">Agregar Carrera</a>

<section id="cajas2">
    <div class="contenedor">

        <table class="table table-striped table-condensed">

            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Docente
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCarrera)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DOCENTE.Nombre)
                        </td>

                        <td>
                            <a class="btn btn-success" data-id="@item.IdCarrera" href="@Url.Action("VerDetalleCarrera", "Administrador", new { pId = item.IdCarrera})">Ver detalle</a>
                            <a class="btn btn-success" data-id="@item.IdCarrera" href="@Url.Action("ModificarCarrera", "Administrador" , new { pId = item.IdCarrera})">Editar</a>
                         
                        </td>

                        <td></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>