﻿@model IEnumerable<AdministracionDeLaboratorios.AccesoADatos.ALUMNO>
@{
    ViewBag.Title = "ListadoAlumnos";
}

<h2>Listado Alumnos</h2>
<a class="btn btn-success" href="@Url.Action("AgregarAlumno", "Administrador")">Agregar Alumno</a>

<section id="cajas2">
    <div class="contenedor">

        <table class="table table-striped table-condensed">

            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Numero de carnet
                    </th>
                    <th>
                        Edad
                    </th>
                    <th>
                        fecha de Ingreso
                    </th>
                    <th>
                        Direccion
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdAlumno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumCarnet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Edad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaIngreso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>

                        <td>
                            <a class="btn btn-success" data-id="@item.IdAlumno" href="@Url.Action("VerDetalleAlumno", "Administrador", new { pId = item.IdAlumno})">Ver detalle</a>
                            <a class="btn btn-success" data-id="@item.IdAlumno" href="@Url.Action("ModificarAlumno", "Administrador" , new { pId = item.IdAlumno})">Editar</a>
                            <a class="btn btn-success" data-id="@item.IdAlumno" href="@Url.Action("EliminarAlumno", "Administrador", new { pId = item.IdAlumno})">Eliminar</a>
                        </td>

                        <td></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>