﻿@model IEnumerable<AdministracionDeLaboratorios.AccesoADatos.USUARIO>
@{
    ViewBag.Title = "ListadoUsuario";
}

<h2>Listado de Usuario</h2>
<a class="btn btn-success" href="@Url.Action("AgregarUsuario", "Administrador")">Agregar Usuario</a>

<section id="cajas2">
    <div class="contenedor">

        <table class="table table-striped table-condensed">

            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Contraseña
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <a class="btn btn-success" data-id="@item.IdUsuario" href="@Url.Action("ModificarUsuario", "Administrador", new { pId = item.IdUsuario })">Editar</a>
                        <a class="btn btn-success" data-id="@item.IdUsuario" href="@Url.Action("EliminarUsuario", "Administrador", new { pId = item.IdUsuario })">Eliminar</a>
                    </td>

                    <td></td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
