﻿@model AdministracionDeLaboratorios.AccesoADatos.DIA

@{

    ViewBag.Title = "Modificar Dia";

}

<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("ModificarDia", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdDia)
    <div id="contenedor">
        <div class="d-flex justify-content-center">
            <h2>Dia</h2>
        </div>
        
        <div id="der">

            <div>
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" name="Nombre" class="form-control" required value="@Model.Nombre" />
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-offset-0">
                    <input type="submit" value="Modificar" style="margin-top: 5px;" class="btn btn-block btn-success" />
                </div>
            </div>

        </div>
    </div>

}