﻿@model AdministracionDeLaboratorios.AccesoADatos.LABORATORIO
@{
    ViewBag.Title = "ModificarLaboratorio";
    var listarCarrera = ViewBag.Carrera;
    var listarAlumno = ViewBag.Alumno;
}

<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("ModificarLaboratorio", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdLaboratorio)
<div id="contenedor">
    <div class="d-flex justify-content-center">
        <h2>Datos del Laboratorio</h2>
    </div>
    <div id="izq">
        <div class="form-group">
            <img src="~/Fotos/@Model.Foto" style="width:200%;" class="img-thumbnail img-responsive" id="imagePreview" />
            <input type="file" name="Archivo" accept="image/jpeg, image/png" class="form-control" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))">
        </div>

    </div>
    <div id="der">
        <div>
            <div class="form-group">
                <label>Laboratorio</label>
                <input type="text" name="Nombre" class="form-control" required value="@Model.Nombre" />
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Numero</label>
                <input type="text" name="Numero" class="form-control" required value="@Model.Numero" />
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Ubicacion</label>
                <input type="text" name="Ubicacion" class="form-control" required value="@Model.Ubicacion" />
                @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Carrera</label>
                <select name="pCarrera" class="form-control">

                    @foreach (var p in listarCarrera)
                    {
                        <option value="@p.IdCarrera">@p.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Alumno</label>
                <select name="pAlumno" class="form-control">

                    @foreach (var p in listarAlumno)
                    {
                        <option value="@p.IdAlumno">@p.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group col-sm-offset-0">
                <input type="submit" value="Modificar" style="margin-top: 5px;" class="btn btn-block btn-success" />
            </div>
        </div>
       
    </div>
</div>
}
<script>
    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }
    function toUpper(control) {

        if (/[a-z]/.test(control.value)) {
            control.value = control.value.toUpperCase();
        }
    }
</script>