﻿@model AdministracionDeLaboratorios.AccesoADatos.DOCENTE

@{

    ViewBag.Title = "Modificar Docente";

    var listaCarrera = ViewBag.Carrera;
    var listaHorario = ViewBag.Horario;

}

<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("ModificarDocente", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdDocente)
    <div id="contenedor">
        <div class="d-flex justify-content-center">
            <h2>Datos del Docente</h2>
        </div>
        <div id="izq">
            <div class="form-group">
                <img src="~/Fotos/@Model.Foto" style="width:205%;" class="img-thumbnail img-responsive" id="imagePreview" />
                <input type="file" name="Archivo" accept="image/jpeg, image/png" class="form-control" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))">
            </div>
    
        </div>
        <div id="der">

            <div>
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" name="Nombre" class="form-control" required value="@Model.Nombre" />
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" name="Apellido" class="form-control" required value="@Model.Apellido" />
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-offset-0">
                    <input type="submit" value="Modificar" style="margin-top: 5px;" class="btn btn-block btn-success" />
                </div>
            </div>

        </div>
    </div>

}
<script>
    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }
    function toUpper(control) {

        if (/[a-z]/.test(control.value)) {
            control.value = control.value.toUpperCase();
        }
    }

</script>
