﻿@model AdministracionDeLaboratorios.AccesoADatos.CARRERA

@{

    ViewBag.Title = "Modificar Carrera";

    var listaDocente = ViewBag.Docente;

}

<style>
    .input {
        font-family: 'Lucida Sans';
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("ModificarCarrera", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdCarrera)
    <div id="contenedor">
        <div class="d-flex justify-content-center">
            <h2>Modificar Carrera</h2>
        </div>
        <div id="der">

            <div>
                <div class="form-group">
                    <label>Carrera</label>
                    <input type="text" name="Nombre" class="form-control" required value="@Model.Nombre" />
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Catedratico</label>
                    <select name="pDocente" class="form-control">
                        @foreach (var m in listaDocente)
                        {
                            if (m.IdDocente == Model.DOCENTE.IdDocente)
                            {
                                <option value="@m.IdDocente" selected="selected">@m.Nombre</option>
                            }
                            else
                            {
                                <option value="@m.IdDocente">@m.Nombre</option>
                            }


                        }
                    </select>
                </div>
                <div class="form-group col-sm-offset-0">
                    <input type="submit" value="Modificar" style="margin-top: 5px;" class="btn btn-block btn-success" />
                </div>
            </div>

        </div>
    </div>

}