﻿@model AdministracionDeLaboratorios.AccesoADatos.ALUMNO

@{
    ViewBag.Title = "VerDetalleAlumno";
}



<h2 class="d-flex justify-content-center">Detalle de Alumno</h2>

<div class="d-flex justify-content-center">

    <div>

        <div class="form-group">
            <img src="~/Fotos/@Model.Foto" style="width:205px; height:200px;" class="img-thumbnail img-responsive" alt="Imagen" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label>Alumno:</label>
            <small>@Model.Nombre @Model.Apellido</small>
        </div>
        <div class="form-group">
            <label>Numero de Carnet:</label>
            <small>@Model.NumCarnet</small>
        </div>
        <div class="form-group">
            <label>Edad:</label>
            <small>@Model.Edad</small>
        </div>
        <div class="form-group">
            <label>Fecha de Ingreso:</label>
            <small>@Model.FechaIngreso</small>
        </div>
        <div class="form-group">
            <label>Direccion:</label>
            <small>@Model.Direccion</small>
        </div>
        <div class="form-group">
            <label>Horario:</label>
            <small>@Model.HORARIO.Turno</small>
        </div>
        <div class="form-group">
            <label>Carrera:</label>
            <small>@Model.CARRERA.Nombre</small>
        </div>
        <a class="btn btn-success" href="@Url.Action("ListadoAlumnos", "Administrador")">Elimniar</a>
        <a class="btn btn-success" href="@Url.Action("ListadoAlumnos", "Administrador")">Inico</a>


    </div>

</div> 

