﻿@model AdministracionDeLaboratorios.AccesoADatos.DIA

@{
    ViewBag.Title = "VerDetalleDia";
}



<h2 class="d-flex justify-content-center">Dia</h2>

<div class="d-flex justify-content-center">

    <div class="col-lg-2">
        <div class="form-group">
            <label>DIA: </label>
            <small>@Model.Nombre</small>
        </div>

        <a class="btn btn-success" href="@Url.Action("ListadoDias", "Administrador")">Elimniar</a>
        <a class="btn btn-success" href="@Url.Action("ListadoDias", "Administrador")">Inico</a>


    </div>

</div>

