﻿@model AdministracionDeLaboratorios.AccesoADatos.DOCENTE

@{
    ViewBag.Title = "VerDetalleDocente";
}



<h2 class="d-flex justify-content-center">Ver Detalle de Docente</h2>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 20rem;">
        <img src="~/Fotos/@Model.Foto" style="width:205px; height:200px;" class="img-thumbnail img-responsive" alt="Imagen" />
        <div class="card-body">
            <h5 class="card-title">Docente:   <small>@Model.Nombre @Model.Apellido</small></h5>
            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            <a class="btn btn-success" href="@Url.Action("ListadoDocente", "Administrador")">Elimniar</a>
            <a class="btn btn-success" href="@Url.Action("ListadoDocente", "Administrador")">Inico</a>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
        </div>
    </div>

    @*<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>*@


    @*<div>

            <div class="form-group">
                <img src="~/Fotos/@Model.Foto" style="width:205px; height:200px;" class="img-thumbnail img-responsive" alt="Imagen" />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Alumno:</label>
                <small>@Model.Nombre @Model.Apellido</small>
            </div>

            <a class="btn btn-success" href="@Url.Action("ListadoDocente", "Administrador")">Elimniar</a>
            <a class="btn btn-success" href="@Url.Action("ListadoDocente", "Administrador")">Inico</a>


        </div>*@

</div>

