﻿@model AdministracionDeLaboratorios.AccesoADatos.CARRERA

@{
    ViewBag.Title = "VerDetalleCarrera";
}



<h2 class="d-flex justify-content-center">Detalle de Carrera</h2>

<div class="d-flex justify-content-center">
    <div class="col-lg-2">
        <div class="form-group">
            <label>Carrera:</label>
            <small>@Model.Nombre</small>
        </div>
        <div class="form-group">
            <label>Catedratico:</label>
            <small>@Model.DOCENTE.Nombre @Model.DOCENTE.Apellido</small>
        </div>
        <a class="btn btn-success" href="@Url.Action("ListadoCarrera", "Administrador")">Elimniar</a>
        <a class="btn btn-success" href="@Url.Action("ListadoCarrera", "Administrador")">Inico</a>


    </div>

</div> 