﻿body {
}

header {
    background-color: #264385;
    color: white;
    padding: 25px;
    min-height: 25px;
    border-bottom: 25px solid #162951;
}

    header a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        padding: 10px;
        font-family: 'Segoe UI Light';
        padding-bottom: 5px;
    }

   

    header #marca {
        float: left;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Segoe UI Light';
        padding-bottom: 5px;
    }

        header #marca h1 {
            margin: 0;
        }

    header nav {
        float: right;
        margin-top: 10px;
    }

    header .resaltado, header, .actual a {
        color: white;
        font-weight: bold;
    }

        header a:hover {
            color: #ccc;
            font-weight: bold;
        }
.contenedor {
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding-top: 0px;
    height:50%;

}



#cajas {
    margin-top: 15px;
}

    #cajas .caja {
        float: left;
        text-align: center;
        width: 30%;
        padding: 10px;
    }


#cajas2 {
    background-color: #ffffff;
    padding-top: 5px;
    margin-top: 5px;
    width: 100%;
    position:absolute;
}

    #cajas2 .contenedor .caja2 {
        background-color: #ffffff;
        margin: 15px;
        padding-top: 5px;
    }

    #cajas2 .contenedor {
        padding-top: 0px;
    }

    #cajas2 .caja2 {
        float: left;
        text-align: left;
        width: 30%;
        padding: 5px;
    }

        #cajas2 .caja2 img {
            width: 90px;
        }

#contenedor {
    background-color: #ffffff;
}

#izq {
    height: 50%;
    background-color: #ffffff;
    float: left;
    width: 50%;
}

#der {
    height: 50%;
    background-color: #ffffff;
    float: right;
    width: 50%;
}

