﻿
@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Content/stilo.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <section class="form-register">
        
    </section>

</body>
</html>