﻿
@{
    //ViewBag.Title = "LogInAlumno";
    Layout = null;
    if (TempData["msg"] != null)
    {
        <script>
            window.onload = function()
            {
                alert('@TempData["msg"]');
            }
        </script>
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    <link href="~/Content/LogInCSS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:#0C5D9F">
    <style>
        .input {
            font-family: 'Lucida Sans';
            font-size: 12px;
            text-transform: uppercase;
        }
    </style>
    <div class="login-box">
        @*<img src="~/Content/Imagen1.png" class="avatar">*@
        <img src="~/Image/user.png" class="avatar"/>
        <h1>INGRESO/ALUMNO</h1>
        <form method="post" action="@Url.Action("LoginAlumno", "LogIn")">

            <div class="form-group">
                <label>Carnet</label>
                <input type="text" class="form-control" name="Carnet" placeholder="NumCarnet" required />
            </div>
            <button class="btn btn-block btn-success" type="submit">Ingresar</button>
        </form>


    </div>
    <script>
        function toUpper(control) {

            if (/[a-z]/.test(control.value)) {
                control.value = control.value.toUpperCase();
            }
        }

    </script>
</body>
</html>

