﻿
@*@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>*@


@{
    Layout = null;
    if (TempData["msg"] != null)
    {
        <script>
            window.onload = function()
            {
                alert('@TempData["msg"]');
            }
        </script>
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aministracion | Ingresar</title>
    <link href="~/Content/LogInCSS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:#0C5D9F">
    <style>
        .input {
            font-family: 'Lucida Sans';
            font-size: 12px;
            text-transform: uppercase;
        }
    </style>
    <div class="login-box">
        <img src="~/Fotos/Img/avatar.png" class="avatar">
        <h1>-INICIO-</h1>
        <form method="post" action="@Url.Action("LogIn", "LogIn")">
            <div class="form-group">
                <label>USUARIO</label>
                <input type="text" class="form-control" name="NOM" placeholder="Nombre" required />
            </div>
            <div class="form-group">
                <label>CONTRASEÑA</label>
                <input type="password" class="form-control" name="PASS" placeholder="Password" required />
            </div>
            <button class="btn btn-block btn-success" type="submit">Ingresar</button>

        </form>


    </div>
    <script>
        function toUpper(control) {

            if (/[a-z]/.test(control.value)) {
                control.value = control.value.toUpperCase();
            }
        }

    </script>
</body>
</html>
